<div>
    <h2>Fluid Infusion</h2>
    <div class="row">
        <form #flForm="ngForm" (ngSubmit)="onSubmit(flForm.value)">
            <div class="form-group">
                <label for="dexconCurrent">Select concentration:</label>
                <select [(ngModel)]="dexconCurrent" #sel (change)="onChange(sel.value)">
                    <option *ngFor="let dex of dextroseConcentrations" [ngValue] = "dex">
                        {{dex.concentration}}
                    </option>
                </select>
                <div *ngIf="dexconCurrent">Concentration - selected id: {{dexconCurrent.id}}</div>
                
            </div>
            <div class="form-group">
                <label for="volume">Enter volume:</label>
                <input type="text" class="form-control" required [(ngModel)] = "volume">
            </div>
            <button type="submit" class="btn btn-default" [disabled]="!flForm.form.valid">Submit</button>
        </form>
    </div>




</div>