<div class="container" id="divFL">
    <div class="row">
        <div class="helpText">
            Select the destrose concentration, enter the volume, then click add. Do this for each fluid infusion entry.
        </div>
        <form class="form-inline" #flForm="ngForm" (ngSubmit)="onSubmit(flForm.value)">
            <div class="form-group">
                <label for="dexconCurrent">Select concentration:</label>
                <select [(ngModel)]="dexconCurrent" #sel (change)="onChange($event)" required>
                    <option *ngFor="let dex of dextroseConcentrations" [ngValue] = "dex">
                        {{dex.concentration}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="volume">Enter volume (mL):</label>
                <input type="text" class="form-control" required [(ngModel)] = "volume">
            </div>
            <button type="submit" class="btn btn-default" [disabled]="!flForm.form.valid">Add</button>
        </form>

    </div>
    <div class='table-responsive col-md-7'>
            <table id="tblMain" class='table table-striped table-bordered' *ngIf='addedDexcons && addedDexcons.length'>
                <thead>
                    <tr>
                        <th>Concentration</th>
                        <th>Volume</th>
                        <th>Remove row</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let dexcon of addedDexcons | adcsortby; let i=index'>
                        <td class="col-md-3">{{ dexcon.dextroseConcentration.concentration }}</td>
                        <td class="col-md-3">{{ dexcon.volume }}</td>
                        <td class="col-md-3"><button (click)="onRemove(dexcon,i)"><span ><i class="fa fa-times"></i> </span></button>  </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class='table-responsive  col-md-5'>
            <table id="tblTotls" class='table table-striped table-bordered' *ngIf='addedDexcons && addedDexcons.length'>
                <thead>
                    <tr>
                        <th>Concentration</th>
                        <th>Total Volume</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let total of totalsByConcentration'>
                        <td class="col-md-3">{{total.concentration}}</td>
                        <td class="col-md-3">{{total.volume}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


</div>