#tblMain{
    width:100%;
}
#tblTotls{
    width:100%;
}


.fa-times {
    color: red;
}
#divFL{
    padding-top: 10px;
    margin-left: 10px;
    width: 850px;
    height: 400px;
    overflow: auto;
}